.container {
    height: 800px;
    width: 800px;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.box {
    height: 300px;
    width: 300px;
    /* border-radius: 50%; 
    background-color: orange;
    margin: 10px;
    /* box-shadow: 10px 20px; horizontal,vertical*/
    /* box-shadow: 10px 20px grey; color is added */
    /* box-shadow: 10px 20px 10px grey; blur is added */
    /* box-shadow: 10px 20px 10px 50px grey; spread-radius is added 
    box-shadow: 0 0 10px 20px yellow; 
    box-shadow: 0 0 10px 20px yellow inset;
}
*/

.box {
    height: 300px;
    width: 300px;
    background-color: pink;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
}

.box:hover {
    background-color: black;
    width: 500px;
}